.env
__pycache__/
.ipynb_checkpoints/
data/
results/
.DS_Store
# Scratch notebook
adhoc.ipynb
code_updates.ipynb
No_LLM_rule_based_agent.ipynb
Code_Note.md
rule_based_agent.ipynb
.Rproj.user
visualisation.py
optimization.py
manual_ref_node.py
LLM_based_agent_conv.ipynb
evaluation-Conv.py
